chex==0.1.82
chardet==5.2.0
orbax==0.1.7
orbax-checkpoint==0.3.5
flax==0.7.2
torch==2.0.1
torchtext==0.15.2
tensorflow-datasets==4.5.2
pydub==0.25.1
datasets==2.14.5
tqdm==4.66.1
wandb==0.15.10
torchaudio==2.0.2
torchvision==0.15.2
einops==0.6.1
